nav{
    background: #234465;
    padding: 10px 10px;
    font-family: sans-serif;
    text-align: center;
}
nav li{
    display: inline-block;
    margin: 0 10px;
}
nav ul li a {
    text-decoration: none;
    color: white;
}
h1{
    text-align: center;
}
header{
 background: grey;
 padding: 15px;
}
main {
    background: rgb(105, 104, 104);
}
footer{
    background: #234465;
    text-align: center;
}